
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="Marching Neurons: Accurate Surface Extraction for Neural Implicit Shapes.">
  <meta name="keywords" content="Neural networks, signed distance functions, implicit representations, mesh extraction">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marching Neurons: Accurate Surface Extraction for Neural Implicit Shapes</title>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="/assets/projects/neurons/static/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/projects/neurons/static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="/assets/projects/neurons/static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="/assets/projects/neurons/static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/assets/projects/neurons/static/css/index.css">
  <link rel="icon" href="/assets/projects/neurons/static/images/favicon.svg">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="/assets/projects/neurons/static/js/fontawesome.all.min.js"></script>
  <script src="/assets/projects/neurons/static/js/bulma-carousel.min.js"></script>
  <script src="/assets/projects/neurons/static/js/bulma-slider.min.js"></script>
</head>
<body>


<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-3 publication-title">Marching Neurons:<br>Accurate Surface Extraction for Neural Implicit Shapes</h1>
          <h2 class="subtitle is-4 publication-subtitle">SIGGRAPH Asia 2025 (Journal Track)</h2>
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a href="https://scholar.google.at/citations?user=Vf9eONQAAAAJ&hl=en">Christian Stippel</a><sup>1</sup>,
            </span>
            <span class="author-block">
              <a href="https://people.mpi-inf.mpg.de/~fmujkano/">Felix Mujkanovic,</a><sup>2</sup>,
            </span>
            <span class="author-block">
              <a href="https://people.mpi-inf.mpg.de/~tleimkue/">Thomas Leimkühler,</a><sup>2</sup>,
            </span>
            <span class="author-block">
              <a href="https://phermosilla.github.io/">Pedro Hermosilla</a><sup>1</sup>,
            </span>
          </div>

          <div class="is-size-5 publication-authors">
            <span class="author-block"><sup>1</sup>TU Wien, Austria</span>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <span class="author-block"><sup>2</sup>Max-Planck-Institute for Informatics, Germany</span>
          </div>

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
              <span class="link-block">
                <a href="https://github.com/phermosilla/neurons"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>arXiv</span>
                </a>
              </span>
              <!-- Code Link. -->
              <span class="link-block">
                <a href="https://github.com/phermosilla/neurons"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <img src="/assets/projects/neurons/static/images/teaser.png" alt="teaser"/>
      <div class="column has-text-centered">
        Surfaces extracted from a signed distance function (SDF) represented by a neural network 
        using Marching Cubes with different grid resolutions (left and center) compared to our analytic method (right). 
        While Marching Cubes struggles to reconstruct sharp edges even at high grid resolutions, our analytic
        method is able to reconstruct the surface accurately.
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Abstract</h2>
        <div class="content has-text-justified">
          <p>
            Accurate surface geometry representation is crucial in 3D visual computing. 
            Explicit representations, such as polygonal meshes, and implicit representations, 
            like signed distance functions, each have distinct advantages, making efficient 
            conversions between them increasingly important. Conventional surface extraction methods 
            for implicit representations, such as the widely used Marching Cubes algorithm, rely 
            on spatial decomposition and sampling, leading to inaccuracies due to fixed and limited resolution.  
            We introduce a novel approach for analytically extracting surfaces from neural implicit functions. 
            Our method operates natively in parallel and can navigate large neural architectures. 
            By leveraging the fact that each neuron partitions the domain, we develop a depth-first 
            traversal strategy to efficiently track the encoded surface. The resulting meshes faithfully 
            capture the full geometric information from the network without ad-hoc spatial discretization, 
            achieving unprecedented accuracy across diverse shapes and network architectures while maintaining competitive speed.
          </p>
        </div>
      </div>
    </div>
    <!--/ Abstract. -->
  </div>
</section>

<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code>@article{stippel2025neurons,
      title={Marching Neurons: Accurate Surface Extraction for Neural Implicit Shapes},
      author={Stippel, C. and Mujkanovic, F. and Leimkuehler T. and Hermosilla, P.},
      journal={ACM Transactions on Graphics (Proc. SIGGRAPH Asia)},
      year={2025}
      }</code></pre>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <a class="icon-link"
         href="https://phermosilla.github.io/neurons/">
        <i class="fas fa-file-pdf"></i>
      </a>
      <a class="icon-link" href="https://phermosilla.github.io/neurons/" class="external-link" disabled>
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This website is licensed under a <a rel="license"
                                                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
          <p>
            Original template from <a
              href="https://github.com/nerfies/nerfies.github.io">nerfies</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
